/* Hero section */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  max-width: 68.75rem;
  margin-top: 2rem;
  padding: 12px;
  /* background-color: #d4b9a5; */
}
.hero img {
  /* margin-top: 0.5rem; */
  height: 22rem;
  width: 20rem;
  border-radius: 100%;
  border: 17px transparent #ffad8f;
  box-shadow: 0.5px 0.5px 8px 0.5px #ffad8f;
  padding: 9px;
}
.bio {
  /* padding: 3px; */
  border-radius: 6px;
  background-color: #ffad8f;
  box-shadow: 0.5px 0.5px 8px 0.5px #cbc9c8;
  max-width: 20rem;
}

.bio p {
  line-height: var(--line-height);
  padding: 1rem;
  color: black;
}
/* Hero section ends */
