/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--primary-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  nav ul li {
    margin: 8px;
  }
  .burger-menu {
    display: block;
  }
  nav ul.show {
    transform: translateX(0);
  }
  .hero {
    margin-top: 4rem;
    flex-direction: column;
  }
  .hero img {
    height: 50rem circle;
    width: 50rem circle;
    border-radius: 100%;
  }
  .bio {
    margin-top: -4rem;
    width: 25.5rem;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }
  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }

  .aboutMe-container {
    padding: 0.5rem;
    max-width: 40rem;
  }
}
