/* Skills section */
.skills {
  max-width: 50.75rem;
  margin: auto;
  text-align: center;
}
.skill-header {
  margin: auto;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.skill-wrapper img {
  padding: 1.25rem;
  align-items: center;
}
.icon {
  align-items: center;
  width: 6rem;
  height: 6rem;
}

.icon-card {
  background-color: #f7c59f;
  border-radius: 11px;
  box-shadow: 0 3px 10px #ff6b35;
  padding: 15px;
  margin: 10px;
}
.skills-container {
  align-items: center;
}
/* Skills section ends */
