.technologies {
  margin-top: 2rem;
}
.technologies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -1rem;
  /* background-color: #f7c59f; */
  margin-top: -5rem;
}

.technologies-details {
  text-align: start;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2px;
  font-size: 13px;
}
.technologies-title {
  font-size: 0.8rem;
  font: 800;
  color: #ff6b35;
  text-shadow: white 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
  text-align: start;
}
.technologies-card {
  /* background-color: #f7c59f; */
  /* border-radius: 11px; */
  /* box-shadow: 1px 2px 5px #ff6b35; */
  align-content: center;
  margin: 2rem;

  /* font-size: 17px;
  width: 8rem;
  height: 9rem; */
}

.technologies-pic-1 {
  height: 1.7rem;
  width: 1.7rem;
  /* margin-bottom: -0.5rem; */
  margin-top: 4rem;
}
.technologies-pic-2 {
  height: 1.1rem;
  width: 1.1rem;
  /* margin-bottom: -0.3rem; */
  margin-top: 4.2rem;
  /* padding: 15px; */
}
